@import "./globals/overwrites";
// @import "./globals/boilerplate";
// @import "./globals/colors";
@import "./globals/typograpy";
@import "./globals/spacing";
@import "./globals/helpers";
// @import "./globals/mixins";

@import "./components/nav";
@import "./components/footer";

@import "../../node_modules/bulma/bulma.sass";

@import "./components/login";
@import "./components/blog";
@import "./components/payment";
@import "./components/shop";
@import "./components/slider";
@import "./components/user";
@import "./components/voucher";
@import "./components/cards";

// Bulma Elements

body {
  margin-top: 4rem;
}

// links

.is-link {
  position: relative;

  &:after {
    content: " ❯";
    font-size: $size-2;
    position: absolute;
    line-height: 1.5rem;
    padding-left: 0.25rem;
  }
}

.field.is-grouped {
  min-width: 370px;
}

.card {
  box-shadow: none !important;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.radio-list {
  .radio {
    display: block;

    & + .radio {
      margin-left: 0;
      margin-top: 0.5em;
    }
  }
  input[type="radio"] {
    accent-color: $green;
  }
}

// a {
//   color: $green;
// }

.bg_light {
  background-color: rgba($primary, 0) !important;
  color: darkgray !important;
}
// Coustom classes
// header,
// main {
//   button {
//     background-color: $green;
//     color: $white;
//     width: 120px;
//     height: 46px;
//     border-radius: $radius-large;
//   }
// }

.background_light {
  background-color: rgba($primary, 0);
}

.mb-space-large {
  margin-bottom: 120px;
}

.mb-space-medium {
  margin-bottom: 60px;
}

.mt-space-medium {
  margin-top: 60px;
}

.mt-space-large {
  margin-top: 120px;
  @include until(768px) {
    margin-top: 0;
  }
}

.pt-space-large {
  padding-top: 120px;
}

.is-280x280 {
  height: 280px;
  width: 280px;
}

/**Components**/
main {
  // @include mobile {
  //   padding: 10px !important;
  // }

  .hero-body {
    background-image: url(../assets/Frame-1.svg), url(../assets/Frame-2.svg),
      url(../assets/Frame-3.svg), url(../assets/Frame.svg);
    background-position: 10%, 80%, 80%, 100%;
    background-repeat: no-repeat;

    // p {
    //   color: $grey;
    // }

    // h1 {
    //   margin-bottom: 2rem !important;
    // }

    @include mobile {
      background-image: url(../assets/Frame-1.svg);
      background-position: 5% 5%;
      background-repeat: no-repeat;
    }
  }

  // iframe {
  //   border-radius: 8px;
  // }

  .partner {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;

    a,
    a:visited,
    a:active {
      color: $green;
      font-weight: 700;
    }
  }

  .section {
    .footer_partner {
      height: 80px;
      background-color: $green;
      color: $white;

      a {
        color: $white;
        font-weight: 700;
      }
    }

    @include mobile {
      .title {
        font-size: 24px;
      }
    }
  }
}

/* Elements */

/*User*/

.social {
  .icon {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border: 1px solid rgba($color: $grey, $alpha: 0.3);
    margin: 2px;
  }
}

.rating {
  display: block;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: $green;
  }
  .off {
    color: #ccc;
  }
}

.gallery {
  max-height: 600px;
  overflow: hidden;
  .masonry {
    column-count: 4;
    column-gap: 1em;

    .item {
      display: inline-block;
      margin: 0 0 1em;
      width: 100%;
    }
  }
}

.artikel {
  .column:first-child {
    justify-content: start;
    align-items: center;
  }
  .column:last-child {
    justify-content: end;
    align-items: center;
  }
}
