.Blog_Beitrag {
    .column {
      height: 345px;
      border-radius: 0;
  
      &:first-child {
        border-radius: 8px 0px 0px 8px;
        background-image: url(https://images.unsplash.com/photo-1652439390548-1d71216f9ba6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80/600x900);
        background-position: 50%;
      }
  
      &:nth-child(2) {
        background-image: url(https://images.unsplash.com/photo-1652054447785-eaa74ea9dcbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=854&q=80/600x900);
        background-position: 50% 20%;
        border-radius: px 0px 0px 0px;
      }
      &:last-child {
        border-radius: 0px 8px 8px 0px;
        background-image: url(https://images.unsplash.com/photo-1652011609738-74e036599c03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80/600x900);
        background-position: 50% 20%;
      }
  
      a {
        font-size: 24px;
        background-color: $green;
        line-height: 36px;
        padding: 6px;
        color: $white;
        font-weight: 400;
      }
  
      p {
        background-color: $light_green;
        line-height: 36px;
        padding: 0px 6px 0px 6px;
        color: $white;
        font-weight: 400;
      }
  
      @include mobile {
        &:first-child {
          border-radius: 8px 8px 0px 0px;
        }
        &:nth-child(2) {
          border-radius: 0px 0px 0px 0px;
        }
        &:last-child {
          border-radius: 0px 0px 8px 8px;
        }
      }
    }
  }


.Blogbeitrag {
  @include until(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;

    .article {
      width: 300px !important;
      height: 500px !important;
      margin: 20px;
    }
  }

  justify-content: space-between;
  height: 520px;
  overflow: hidden;

  .article {
    width: 400px;
    height: 450px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    background-color: white;
    border-radius: 8px;

    @include from(768px) {
      margin: 10px;
    }

    .artikel_header {
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px 8px 0 0;
      padding: 20px;
      background-position: 50% 50%;
    }
    .main {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .autor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
          color: rgba($color: $green, $alpha: 1);
        }
        p {
          color: rgba($color: $grey, $alpha: 0.3);
        }
      }
    }
  }
}