footer {
  a {
    color: $white;
  }

  ul {
    margin-left: 0;

    li {
      list-style: none;
    }
  }

  input#newsletter {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  // &.footer {
  //   background-color: $green;
  // }
  // .links {
  //   line-height: 5px;
  // }

  // .has-border {
  //   border-bottom: $white 2px solid;
  // }

  // p,
  // li {
  //   color: $white;
  //   a {
  //     color: $white;
  //   }
  // }
}
