.payment{ 
    .benefits{
     justify-content: center;
     .tag{
       color: white;
       min-width: 70px;
       max-width: 90px;
     }
   
     .line{
       width: 25px;
       height: 0px;
       border: 1px solid #257708;
       transform: rotate(-90deg);
       position: absolute;
       left: 4.6%;
       bottom: -15%;
     }
    }
    .buy_voucher{
     button{
       min-width: 180px !important;
     }
    }
   }