.shopCard {
  min-width: 300px;
  border-radius: 8px;
  backdrop-filter: blur(4px);

  .cardHeader {
    height: auto;
    border-radius: 8px 8px 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    .hasBackground {
      color: $white;
      background-color: $green;
      line-height: 30px;
    }

    .column {
      min-height: 210px;
      .iconFon {
        color: #e2e2e2;
      }
    }
  }

  .card-body {
    height: 400px;
    max-width: 300px;
  }
}

.shop {
  .section {
    @include from($tablet) {
      padding-bottom: 0;
    }
  }

  .comment-carousel-container {
    overflow: hidden;
    .comment-carousel {
      overflow-x: scroll;

      .comment-preview {
        background-color: rgba($grey, 0.05);
        border-radius: $radius;
        margin: 0 0.5rem;
        padding: 0.5rem;
      }
    }
  }
  .highligt-carousel {
    overflow-x: scroll;
  }

  .rating {
    position: relative;

    .rating-average {
      font-size: 3rem;
      line-height: 3rem;
    }
    .rating-amount {
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
  .products {
    overflow-x: scroll;

    .card {
      min-width: 280px;
      min-height: 280px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 30px;
    }
  }

  .gallery {
    .column:first-child {
      justify-content: start;
      align-items: center;
    }
    .column:last-child {
      justify-content: end;
      align-items: center;
    }
  }
}

.shop-preview {
  position: relative;
  h3 {
    bottom: 0;
    position: absolute;
    display: inline;
    background-color: $primary;
    color: $white;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem !important;
    line-height: 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &::after {
      content: " ❯";
    }
  }
  .favorite-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
