.slider {
    .horizontal-slider {
      width: 100%;
      max-width: 500px;
      height: 40px;
    }
    .example-thumb {
      cursor: pointer;
      position: absolute;
      z-index: 100;
      background: rgba($color: $green, $alpha: 1);
      border: 5px solid $green;
      display: block;
    }
    .example-thumb.active {
      background-color: $green;
    }
    .example-track {
      position: relative;
      background: $green;
    }
    .example-track.example-track-0 {
      background: $green;
    }
    .horizontal-slider .example-track {
      top: 20px;
      height: 4px;
    }
    .horizontal-slider .example-thumb {
      top: 5px;
      color: white;
      border-radius: 8px;
      min-width: 20px;
    }
  }