:root {
  --highlight-lightgreen: #95c11f;
  --highlight-darkgreen: #257708;
  --background: white;
}

/*Overrite colors*/
$green: #257708;
$grey: #3E3E3E;
$light_green: #95C11F;
$rgba: rgba(#257708, 0.1);
$turquoise: $green;
