$spacing-shortcuts: (
  "margin": "mg",
  "padding": "pd",
);
$spacing-horizontal: "h";
$spacing-vertical: null;
$spacing-values: (
  "0": 0,
  "05": 0.5rem,
  "1": 1rem,
  "2": 2rem,
  "3": 3rem,
  "medium": 3.57rem,
  "large": 7.5rem,
);
