// h1,
// h2,
// h3 {
//   color: black;
// }

h1 {
  font-weight: $weight-bold;
  line-height: 2.625rem;
  font-family: $family-serif;
  // letter-spacing: 0em;
  // text-align: center;
}

h2 {
  font-weight: $weight-semibold;
  line-height: 2rem;
  font-family: $family-serif;
}

h3 {
  font-weight: $weight-bold;
  // line-height: 2rem;
  font-family: $family-serif;
}

// p {
//   margin-top: 0;
//   font-family: "Roboto", sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 18.75px;
//   letter-spacing: 0em;
//   width: auto;
// }

// li,
// ul {
//   text-decoration: none;
//   list-style: none;
// }

// a,
// a:visited,
// a:active {
//   font-family: "Roboto", sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 19px;
//   letter-spacing: 0em;
//   text-align: left;
//   text-decoration: none;
//   color: $green;
// }

// /* ul reset*/
// ul {
//   margin: 0 0 0 0 !important;
//   padding: 0 !important;
//   list-style: none;
// }
